
@media (min-width: 576px){
    .heroText{
      width: 100vw;
  }
}

@media (min-width: 768px){
     .heroText{
      width: 100vw;
  }
}

@media (min-width: 992px) {
       .heroText{
      width: 50vw;
  }
}

.logoutButton{
  outline: none;
  border: none;
  margin-left: 10px;
  margin-top: -5px;
  padding: 5px 20px;
  background-color: rgb(255, 43, 43);
  color: aliceblue;
  border-radius: 5px;
}