
@media (max-width: 576px){
    .specialText{
      width: 100vw;
  }
  .specialImg{
      display: none;
  }
}

@media (min-width: 768px){
     .specialText{
      width: 100vw;
  }
}

@media (min-width: 992px) {
       .heroText{
      width: 50vw;
  }
}