
@media (min-width: 576px){
    .signupFormt{
      width: 100vw;
  }
}

@media (min-width: 768px){
     .signupForm{
      width: 100vw;
  }
}

@media (min-width: 992px) {
       .heroText{
      width: 50vw;
  }
}